<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jake's Forum</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/normalize.css">

	<script type="text/javascript" src="/scripts/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/scripts/main.js"></script>
</head>

<body style="margin: 30px;">
<head><a href="/">Front Page</a></head>
	<h1>Welcome to Jake's Forum</h1>
	<% if current_user %>
		<h4>You are Logged In</h4>
		<form action="/logout" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" value="Log Out">
		</form>
	<% else %>
		<h4>You are NOT logged In</h4>
	<% end %>


	
	
	<%= yield %>





</body>
</html>